body {
	font-family: "Arial" "Helvetica";
	background-image: url(../IMAGES/white_bed_sheet.png);
	background-repeat: repeat-x repeat-y;
}

#header img {
	float: left;
	width: 20%;
	vertical-align: middle;
	max-width: 212px;
	max-height: 77px;
	margin-left: 13px;
}

#header .title {
	float: right;
	height: 77px;
	width: 80%;
	text-align: center;
}

#header div {
	width: 90%;
	margin: 0 auto;
}

#header {
	background-color: #FFFFFF;
	background-image: url(../IMAGES/background.png);
	background-repeat: repeat-x repeat-y;
	background-position: left bottom;
	background-repeat: repeat-x;
	border-color: #fff;
	border: 1px solid rgba(153, 153, 153, 0.4);
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	padding: 10px;
	height: 100px;
}