@CHARSET "ISO-8859-1";

#contenido {
	width: 100%;
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(236, 236, 236, 1));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(236, 236, 236, 1));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(236, 236, 236, 1));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(236, 236, 236, 1));
	background-image: linear-gradient(top, rgba(255, 255, 255, 1),
		rgba(236, 236, 236, 1));
	-image-background-position: left bottom;
	background-repeat: repeat-x;
	margin-top: 10px; height : 80%;
	border: 1px solid rgba(153, 153, 153, 0.4);
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
	box-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
	height: 80%;
}

#logo {
	padding: 15px 15px 15px 15px;
}

.title {
	text-align: center;
	padding: 15px 15px 15px 15px;
}

#headerDiv {
	background-color: #FFFFFF;
	background-image: url(../IMAGES/background.png);
	background-repeat: repeat-x repeat-y;
	background-position: left bottom;
	background-repeat: repeat-x;
	border-color: #fff;
	border: 1px solid rgba(153, 153, 153, 0.4);
	border-radius: 0px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}