#menu {
	background-color: #C7C8CB;
	display: block;
	width: 100%;
	margin-top: 10px;
	height: auto;
	max-width: 100%;
}

.navbar-static-top {
	margin-bottom: 20px;
}

i {
	font-size: 16px;
}

.nav>li>a {
	color: #30426A;
}

/* count indicator near icons */
.nav>li .count {
	position: absolute;
	bottom: 12px;
	right: 6px;
	font-size: 9px;
	background: rgba(51, 200, 51, 0.55);
	/* 	color: rgba(255, 255, 255, 0.9); */
	color: #00000;
	line-height: 1em;
	padding: 2px 4px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}